.home
  .content > .container
    margin: 0 auto
    max-width: 700px

  // Main marketing message and sign up button
  .jumbotron
    margin: 20px 0 60px
    text-align: center
  .jumbotron h1
    font-size: 72px
    line-height: 1
  .jumbotron .btn
    font-size: 21px
    padding: 14px 24px

  // Supporting marketing content
  .marketing
    margin: 60px 0 0
  .marketing p + h4
    margin-top: 28px

  .list
    position: relative
    overflow: hidden
    background: #F2F2F2
    border: 1px solid #CCC

  .list .item
    display: inline-block
    vertical-align: top
    overflow: hidden
    background: #F2F2F2
    margin-right: 15px
    position: relative
    text-align: center
    min-width: 10px
    height: 100px

  .list .item .carret 
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 8px
    background: #CCC
    cursor: col-resize

  .list .item .duration
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    background: rgba(0,0,0,0.5)
    color: white
    font-size: 10px

  .list .item input
    width: 0
    height: 0
    padding: 0
    font-size: 0
    margin: 0
    position: absolute
    top:  0
    left: 0
    border: 0

  .list .item .menu
    position: absolute
    right: 0
    top: 0
    content: 'X'
    width: 15px
    height: 15px
    background: #000

  .list .item .menu .container 
    position: absolute
    top: 0
    right: 0
    display: none
    background: #555
    text-align: right
    width: 100px
    color: white

  .list .item .menu:hover > .container
    display: inline-block

  .list .item .menu .container li 
    cursor: pointer
    list-style: none

  .list .item .menu .container li:hover 
    background: #444
